.item {
    display:inline-block;
    justify-content: center;
    margin: 1em;
}

.item h2 {
    font-size: 1.5rem;
}
.item a {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #fff;
}

.item a:hover {
    border-color: orange;
}

.item img{
    width: 200px;
    border-radius: 10px;
}